.header {
  width: 80%;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3F5E90;
  font-size: 15px;
}
.topnav {
  background-color: #302E2D;
}
.topnav .navbtn {
  background-color: #302E2D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  color:cadetblue;
  font-size: 15px;
  cursor: pointer;
}

.topnav .navbtn:hover {
  background-color: #464341;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

/* li div, .navbtn{
  display: inline-block;
  color: #B8BDB9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

.divider{
  width:20px;
  height:auto;
  display:inline-block;
}

.body {
  height: 100%;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px 50px;
}

.grid-item {
  height: 100%;
  background-color: gray;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

.grid-item-info {
  text-align: left;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
}

.faq-button {
  display: block;
  width: 100%;
  padding: 15px 32px;
  background-color: darkgray;
  border: 1px black;
  margin: 4px 4px;
  text-align: left;
  margin-top: 20px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #302E2D;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: right;
  font-size: 10px;
}

body {
  background-color: #1F1F1F;
  color: white;
}

* {
  margin: 0;
}