

.header {
  width: 100%;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3F5E90;
  font-size: 20px;
}

.topnav {
  background-color: #302E2D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, li div, .navbtn, .dropbtn {
  display: inline-block;
  color: #B8BDB9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #B8BDB9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.divider{
  width:20px;
  height:auto;
  display:inline-block;
}

.body {
  height: 100%;
}

.grid-container {
  
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px 50px;
  padding: 10px;
}

.grid-item {
  height: 100%;
  background-color: gray;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
}

.grid-item-info {
  
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
}

.faq-button {
  display: block;
  width: 100%;
  padding: 15px 32px;
  background-color: darkgray;
  border: 1px black;
  margin: 4px 4px;
  text-align: left;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #302E2D;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: right;
  font-size: 10px;
}

body {
  background-color: #1F1F1F;
}

* {
  margin: 0;
}